@mixin flexCenter($direction, $background) {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

//CSS ::after Selector --> https://www.w3schools.com/cssref/sel_after.asp
//https://css-tricks.com/the-sass-ampersand/
//https://stackoverflow.com/a/10036181/12097072
header {
  @include flexCenter(column, red);

  height: 30vh;
  background: rgb(20, 216, 216);
  color: $textColor;
  button {
    background: $primaryBtn;
    &::before {
      content: "1234";
    }
  }
}
