@import "./variables";
@import "./header";

.contact {
  @include flexCenter(row, rgb(255, 0, 157));
  background: $primaryBtn;

  @extend header;
  height: 80vh;
  background: blue;
  width: 100% - 40%;
}
